h1 {
  text-align: center;
  margin-bottom: 0rem;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: auto;
}

.allInputs {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.trapezoidInputs {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.midpointInputs {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.simpsonInputs {
  display:flex;
  align-items: center;
  flex-direction: column;
}

input {
  margin: 1rem;
  text-align: center;
}

label {
  font-weight: bold;
  font-style: italic;
}

.answer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
